@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #6397FF;
}

.box-area {
    width: 930px;
} 

.right-box {
    padding: 110px 30px 80px 50px;
} 

::placeholder {
    font-size: 16px;
} 

.login-message:hover span {
    display: none;
}

.login-message:hover:before {
    content: "We are happy to have you.";
    font-size: 20px;
    cursor: pointer;
}

.forgot-message:hover span {
    display: none;
}

.forgot-message:hover:before {
    content: "Enter your email so we will send you some code to verify.";
    font-size: 16px;
    cursor: pointer;
}

.new-message:hover span {
    display: none;
}

.new-message:hover:before {
    content: "Select the strongest one.";
    font-size: 24px;
    cursor: pointer;
}

/* MEDIAQUERIES
/* for small screens */

@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;

    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
} 

